<div class="container-fluid">
  <div class="my-3">
    <button class="btn btn-primary"><i class="fa-solid fa-arrow-left pe-1"></i> Back</button>
  </div>
  <div class="card p-3 mb-3">
    <div class="row">
      <div class="col-auto">
        <i class="fa-solid fa-file pe-2"></i>
        ems_EmployeeFilter/DockerFile
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <div class="col-auto">
          <span class="align-middle">Code | </span>
          <span class="align-middle">10 lines</span>
        </div>
        <div class="btn-group float-end" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1"><i class="fa-regular fa-copy"></i></label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2"><i class="fa-solid fa-download"></i></label>
          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3"><i class="fa-solid fa-file"></i></label>
        </div>
      </div>
      </div>
    <div class="card-body">
      <div class="editor">
        <div class="line-numbers">
          <span></span>
        </div>
        <textarea></textarea>
      </div>
    </div>
  </div>
</div>
